body {
  background: linear-gradient(135deg, #000000, #30007c, #000000);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  font-family: sans-serif;
}






* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #4B0082;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
}

nav li {
  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 14px 16px;
  display: block;
  transition: background-color 0.5s ease; /* SUAVIZA O HOVER */
}

nav a:hover {
  background-color: #9c12ff;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #E6CCFF;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  transition: background-color 0.5s ease; /* SUAVIZA O HOVER */
}

.dropdown-content a {
  color: #2E0854;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #D1B3FF;
}

.show {
  display: block;
}
